.my-app-container {
  text-align: center;
  margin: 20px;
}

.my-app-title {
  color: #333;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.my-app-title::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333;
  margin-top: 10px;
}

.my-app-logo {
  max-width: 100px; /* Adjust the maximum width of the logo */
  margin-bottom: 1px; /* Add some space below the logo */
}
